/* ---------------------------------------------------*/
/* ----------Default Classes-------------------------*/	
/* -------------------------------------------------*/	
.white {
		color: #999;
		}

.logoTop {
	background: url(img/IMG_1099.jpg);
	background-size: 100% 100%;
	width: 950px;
	height: 75px;
	border-radius: 5px;
	margin-bottom: -15px;
	margin-top: 5px;
		}
		
.logoMenu{
	background: url(img/IMG_1099.jpg);
	background-size: 100% 100%;
	width: 250px;
	height: 50px;
	border-radius: 5px;
	margin-top: -15px;
		}		
		
.txt {
	width: 500px; 
	height: 1000px;
	border: 5px solid #9C6902;
    background-color: #99C68E;
	border-radius: 10px;
	margin-left: auto;
    margin-right: auto;
		}	
		
.bild {
	width: 500px;
	height: 200px;
	margin-left: auto;
    margin-right: auto;
		} 

		
/* ---------------------------------------------------*/
/* ----------Bootstrap Stylings----------------------*/	
/* -------------------------------------------------*/	

.container-fluid {
		background-color: #113A00;
		}
		
		
.container-fluid2 {
		background-color: #246508;
		border-radius: 5px;
				}

.container-fluid3 {
		background-color: #113A00;
		}

.navbar {
		background-color: #113A00;
				}
				
	
.btn {
		background-color: #E1E1E1;
	 }
	 
	 
		
/* ---------------------------------------------------*/
/* ----------Menü for mousover-----------------------*/	
/* -------------------------------------------------*/	
ul.nav a:hover { background-color: #72AE24 !important; }
nav ul ul {
	display: none;
		}
		
nav ul li  a{
		color: #aaa;
		}
		
nav ul li:hover > ul {
		display: block;
			}
			
nav ul {
	padding: 0px;
	background: -moz-linear-gradient(top, #246508 90%, #72AE24  6%); 
	list-style: none;
	position: relative;
	display: inline-table;
		}			

	
nav ul li:hover a {
			color: #000000;

		}

		
		
