/* ---------------------------------------------------*/
/* ----------Default Classes-------------------------*/	
/* -------------------------------------------------*/	
body {
		background: #113A00;
		min-height: 2000px;
		padding-top: 150px
		}

.white {
		color: #DDD;
		}

.logoTop {
	background: url(img/IMG_1099.jpg);
	background-size: 100% 100%;
	width: 950px;
	height: 75px;
	border-radius: 5px;
	margin-bottom: -15px;
	margin-top: 5px;
		}

		
/* ---------------------------------------------------*/
/* ----------Bootstrap Stylings----------------------*/	
/* -------------------------------------------------*/	
	
	 
.container {
				width: 85%;
			}
			
.container3 {
				background-color: #CCC;
				width: 82%;
				border-radius: 10px;
				margin-top: 20px;
				margin-left: auto;
				margin-right: auto;
			}
			
.container-fluid {
		background-color: #113A00;
		}
		
.container-fluid2 {
		background-color: #246508;
		border-radius: 10px;
				}

.container-fluid3 {
		background-color: #113A00;
		}

.container-fluid4 {
		background-color: #113A00;
		margin-top: 25px;
		}

.divider {
		border:  1px solid #113A00;
		}		

.dropdown-toggle{
		border-radius: 10px;
		}	 
	 
.dropdown-menu {
		background-color: #246508;
				} 		
.jumbotron {
		background-color: #CCC
			}
				
.navbar {
		background-color: #246508;
		border-radius: 10px
				}

.navi {
		margin-top: 15px;
		color: #aaa;
		}				
				

/* ---------------------------------------------------*/
/* ----------Menü Styles-----------------------------*/	
/* -------------------------------------------------*/	

.nov {
		float: right;}

ul.nav a:hover { 
	background-color: #72AE24 !important;
		border-radius: 10px;
		}


nav ul ul {
	display: none;
		}
		
nav ul li  a{
		color: #aaa;
		}
		
nav ul li:hover > ul {
		display: block;
		border-radius: 10px;
			}
			
nav ul {
	padding: 0px;
	list-style: none;
	position: relative;
	display: inline-table;
		}			

	
nav ul li:hover a {
			color: #000000;
			border-radius: 10px;
		}

.navbar .nav li.dropdown.open > .dropdown-toggle, .navbar .nav li.dropdown.active > .dropdown-toggle, .navbar .nav li.dropdown.open.active > .dropdown-toggle 
		{
		background-color: #72AE24 ;
		color: #000000;
		}
		
